.header-wrapper
    background-color transparent
    position fixed
    padding-top 10px
    padding-bottom 10px
    top 0
    left 0
    z-index 111
    transition .2s linear all
    
    &--white
        background-color rgba(255,255,255, .8)
        box-shadow 0 15px 27px rgba(61, 78, 96, 0.06);
        .header
            &__logo-wrapper
                span 
                    color $add
        .aside
            &__link
                transition .2s linear all
                color $add
                &:hover 
                    color $main
        .aside
            &__sub
                +lg()
                    background-color #fff
                .aside__link
                    color $main
                    &:hover
                        color    $add
        &.header-wrapper--tiny
            background-color #fff
    &--tiny
        background-color #fff
        .header
            &__logo-wrapper
                span 
                    color $add
        .aside
            &__sub
                &.is-active
                    background-color #fff
                +lg()
                    .aside__link
                        color $main
                
    
.header
    &__logo-wrapper
        width 150px
        display table
        float left
        font-family $pfd
        text-decoration none
        transition: all 0.5s ease;
        span
            rem(20)
            line-height 20px
            color #fff
            vertical-align middle    
            display table-cell
            font-family: $pfd
            transition: all 0.5s ease;
        &:hover
            filter:  contrast(150%);
            span 
                color $main
            
    &__logo
        display table-cell
        transition: all 0.5s ease;
        filter: none;
        opacity: 1;
        vertical-align middle    
        height 50px
        height  auto
    &__toggle
        position relative
        float right
        width 32px
        cursor pointer
        height 32px
        margin-top 7px
        transition .2s linear all
        &:hover .header__toggle-item
            background-color $main 
        &:hover
            border-radius 3px
            background-color #2a3e48
    &__toggle-item
        position absolute
        border-radius 2px
        width 80%
        display block
        height 4px
        left 10%
        // transform translateX(-50%)
        background-color $main
        transition .2s linear all
        &:nth-child(1)
            top 5px
        &:nth-child(2)
            top 50%
            transform translateY(-50%)
        &:nth-child(3)
            bottom  5px
.aside
    top 0
    background-color rgba($main, .8)
    width 280px
    position fixed
    right -280px
    height 100%
    border-top 6px solid $main
    padding 0px 0px 0 0px
    border-left 1px solid  $main
    transition .2s linear all
    // &__nav
        
    &__actions-nav
        padding-top 10px
        padding-left 10px
        float left
        .aside__link
            display  inline-block
            margin-right 10px

        
    &__nav
        padding-top 10px
        padding-left 10px        
        border-bottom 1px solid rgba(205, 205, 205, 0.3);
        .aside__link
            margin-bottom 20px
    &__link
        font-weight 600
        text-decoration none
        cursor pointer
        rem(14)
        color #fff
        display block
        position relative
        &:hover
            color $main
        &--dropdown
            i
                rem(5)
                display inline-block
                margin-top -4px
                margin-left 10px
                color $main
        &--login
            i
                margin-top -2px
                display inline-block
                margin-right 12px
    &__sub
        display none
        
        
        &.is-active
            padding-top 10px
            display block
            +lg()
                background-color transparent

        
        +lg()
            padding-top 0
            top 28px
            left -10px
            position absolute
            padding-left 10px
            .aside
                &__link
                    color #fff
                    float none
                    line-height 1
                    padding 0px 0 10px !important
                    display block
                    margin-bottom 0
                    &:hover
                        color $add
            
        // position absolute
    &--open 
        
        right 0
        .aside
            &__sub
                border-bottom 1px solid rgba(205,205,205,0.3)
            &__link, i
                color #fff
                &:hover
                    color $add
        
@media(min-width 1200px)
    .header-wrapper
        padding-top 0
        padding-bottom 0
        &--white
            background-color #fff
            .header
                &__logo-wrapper
                    border-right 1px solid #f1f4f7
            .aside
                &__link
                    &--login
                        border-left 1px solid #f1f4f7
                        
                        
        &--tiny
            background-color #fff
            .header
                padding-top 0
                padding-bottom 0
                &__logo-wrapper
                    padding 0
                    padding-top 2px
                    padding-bottom 2px
                    border-right 1px solid #f1f4f7
                    span 
                        color $main
            
            .aside
                &__link
                    color $main
                    padding-bottom 10px
                    &:hover
                        color $add
            
            .aside
                background-color #fff
                &__sub
                    background-color #fff
                &__link
                    padding-top 0
                    padding-bottom 0
                    color $main
                    i 
                        color $main
                    &:hover
                        color $add
                    &--login
                        border-left 1px solid #f1f4f7
            &.header-wrapper--white
                .aside
                    &__link
                        color $add
                        &:hover 
                            color $main
            
    .header
        padding-bottom 0px
        &__logo-wrapper
            padding-top 20px
            padding-bottom 20px
        &__toggle
            display none
        &--white
            .aside
                &__link
                    &--login
                         border-left 1px solid #f1f4f7
    .aside
        transition 0s
        line-height 47px
        background-color transparent
        margin-left 52px
        width calc(100% - 252px)
        border none
        float right
        position static
        &__lang-switcher
            padding-left 77px
            border-right none
        &__lang-switcher, &__actions-nav, &__search
            padding-top 21px
            padding-bottom 21px
        &__nav
            padding-top 0
            vertical-align middle
            border-bottom none
            display flex
            justify-content space-between
            .aside__link
                margin-bottom 0
        &__link
            line-height 49px
            text-align left
            display inline-block
            margin-right 20px
            padding-top 20px
            padding-bottom 20px
            float left
            &.is-active
                border-bottom 2px solid $main 
            &--login
                padding-left 65px
                
                i
                    vertical-align middle
                    color $main
               
                
        
            
            
@media(max-width 1199px)    
    .header-wrapper--tiny .aside__sub.is-active 
        background-color transparent
            
    