.footer 
  padding 20px 0
  position absolute
  bottom 0
  background-color: #2a3e48;
  height 427px
  left 0
  right 0
  &__logo-wrapper
    @extends .header__logo-wrapper
  &__aside
    &--left
      p
        color: #8b9aa2;
        font-family $regular
        rem(13)
        font-weight: 400;
        line-height: 25px;
        +sm()
          width 50%
          float left
    &--right
      display flex
      margin-top 20px
      +sm()
        margin-top 0
        width 50%
        float right
.nav
  width 50%
  display flex
  justify-content space-around
  flex-wrap wrap
  flex-direction column
  text-align center
  &__link
    text-align left
    margin-bottom 5px 
    display block
    font-family $bold
    font-size: 14px;
    font-weight: 700;
    text-decoration none
    color #fff
    &:hover
      color $main
  +sm()
    justify-content center
.additions
  width 50%
.search
  width 100%
  &__form-control
    width 100%
  &__input
    color #fff
    width 100%
    display block
    height 50px
    background-color #465760
    border-radius 5px !important
    border none
    padding-left 15px
.socials
  margin-top 10px
  display flex
  flex-direction column
  justify-content flex-end
  &__link
    display block
    color #fff
    text-decoration none
    margin-bottom 5px
    &:hover
      color $main
      i
        
        color #fff
    i
      display inline-block
      margin-right 5px
      color $main
      
        
            