.footer 
  padding 20px 0
  position absolute
  bottom 0
  background-color: #2a3e48;
  height 215px
  left 0
  right 0
  @media(min-width 400px)
    height 195px
  +xs()
    height 187px
  +sm()
    height 157px
    
  +md()
    height auto
    padding-top 101px
    padding-bottom 101px
  &__logo-wrapper
    @extends .header__logo-wrapper
    margin 0 auto
    float none
    span
      font-weight 300
      letter-spacing 1px
    +sm()
      margin 0 
      width 140px
      float none
      // margin-bottom 32px
    +md()
      padding-bottom 9px
      
      // margin-bottom 62px
      img
        display table-cell
        height 47px
    +lg()
      padding-top 0
      padding-bottom 20px
  &__aside
    &--left
      +sm()
        width 48%
        float left
      +md()
        width 70%
      p
        display none
        color: #8b9aa2;
        font-family $regular
        rem(13)
        font-weight: 400;
        line-height: 25px;
        +sm()
          display block
          height 75px
          overflow hidden
    &--right
      display flex
      margin-top 20px
      flex-direction column
      +sm()
        justify-content space-between
        flex-direction row
        margin-top 0
        width 48%
        float right
      +md()
        width 28%
.nav
  text-align left
  margin-bottom 10px
  &__link
    color #fff
    float left 
    width 45%
    display inline-block
    text-decoration none
    margin-right 10%
    margin-bottom 10px
    &:nth-child(2n)
      margin-right 0
    &:hover
      color $add
    @media(min-width 400px)
      margin-right 0
      width 33%
      &:nth-child(3n + 3)
        text-align right
      &:nth-child(3n + 2)
        text-align center
    +sm()
      display block
      float none
      margin-bottom 8px
      width 100%
      text-align left !important
    +lg()
      margin-bottom 11px
      
    
.additions
  +sm()
    float right 
.socials 
  text-align center
  
  &__link
    width 33%
    color #fff
    text-decoration none
    i 
      display inline-block
      margin-right 5px 
    &:nth-child(1)
      text-align left
      float left
    &:nth-child(3)
      text-align right
      float right
    i 
      color $main
    &:hover
      color $main
      i 
        color #fff
    +sm()
      width 100%
      display block
      float none !important
      text-align left !important
      & + &
        margin-top 34px
    +lg()
      & + &
        margin-top 41px
      
      
      
