+b.footer.clearfix
    .container.clearfix
        +e.item &copy; 2017 Grubatec. All rights reserved
        +e.item
            +e.A(href="uns.html").link Über uns  
            +e.A(href="kontakte.html").link KONTAKTE
        +e.developers &copy; 2017 Grubatec. All rights reserved

    
