-var i = 0
section.faq#faq
  .wrapper-inner
    .faq__content
      .naming Часто задаваемые вопросы
      while i < 8
        .faq__block.clearfix
          .faq__qw
            +b.SPAN.icon-toggle-wrapper 
              +e.I.icon.icon-plus
              +e.I.icon.icon-minus
            
            | Как начать сотрудничество с нами?
          .faq__answer
            .faq__text На главной странице сайта Вы найдете форму регистрации. Она элементарна и займет несколько секунд. Обратите внимание! При регистрации Вы принимаете условия сотрудничества, которые прописаны в разделе с документацией. Настоятельно рекомендуем ознакомиться с ними на этапе регистрации. После регистрации Вы сможете зайти в свой персональный личный кабинет и начать непосредственно зарабатывать.

        -i++
