extends ./../pug-helpers/_layout
block header
  +createHeader()&attributes({class: 'header-wrapper--white'})
block content
    -let rowdata = [{title:['Регистрация','аккаунта'], content: 'Чтобы начать выкуп грузовых площадей, Вам необходимо сначала создать личный аккаунт. Регистрация аккаунта не занимает много времени и абсолютно бесплатна. Для этого перейдите на страницу регистрации, нажав кнопку "Создать аккаунт" в правой верхней части сайта. После нажатия этой кнопки и перехода на страницу регистрации, Вам следует заполнить форму регистрации. Необходимо в обязательном порядке указать имя пользователя, пароль, а также - в необязательном порядке - номер телефона.',className:'animated bounceInLeft'},{title:['Вход','в аккаунт'], content: 'После регистрации аккаунта будет открыта Ваша личная страница. В дальнейшем для входа в свой аккаунт Вам нужно будет вводить своё имя пользователя и пароль. Войдите в свой аккаунт, где Вы можете управлять своими заработками, депозитами, редактировать личные данные, просматривать статистику начислений, выводить свою ежедневную прибыль и т. д. Ваш аккаунт максимально защищён от атак разных видов, поэтому Вам остаётся только получать прибыль и удовольствие от сотрудничества с Hyip.',className:'animated bounceInRight'},{title:['Внесите свой','первый депозит'], content: 'Чтобы внести первый депозит, войдите в свой аккаунт Hyip и нажмите кнопку "Инвестировать". Депозит можно внести с помощью нескольких платёжных систем - Payeer, PerfectMoney, Qiwi, AdvCash, YandexMoney, BitCoin. Список доступных платёжных систем может пополняться. Сумма депозита составляет от 100.00  до 100000.00 . В аккаунте есть схема заполнения доступных для выкупа грузовых контейнеров. Указать сумму депозита можно, нажав на соответствующий блок внутри контейнера, либо передвинув бегунок, либо вручную вписав сумму в поле ввода. Группа контейнеров для выкупа формируется автоматически.',className:'animated bounceInLeft'},{title:['Наблюдайте за ростом',' своего дохода'], content: 'Всё, что Вам остаётся делать - это с удовольствием наблюдать рост Вашей прибыли каждый день. Все начисления производятся с максимальной точностью и в автоматическом режиме. После начисления дохода на Ваш счёт Hyip, Вы можете либо вывести деньги на свой счёт в платёжной системе, либо реинвестировать, чтобы увеличить свои заработки.',className:'animated bounceInRight'},{title:['Выводите','ежедневные заработки'], content: 'Все выплаты производятся моментально. Помните, что вывести средства только на ту платёжную систему и в той валюте, в которой сделан вклад. Например, если Вы инвестировали в биткойнах, то вывести прибыль Вы можете также только в биткойнах. Аналогично, если Ваш реферал сделал депозит в биткойнах, в результате чего Вам начислена реферальная комиссия, то вывести эту комиссию возможно только в биткойнах.',className:'animated bounceInLeft'},{title:['Поделитесь своими','заработками с другими'], content: 'Получив все преимущества от услуг, предлагаемых нашей компанией, Вы можете стать частью нашей команды и участвовать в специальной реферальной программе, в рамках которой Вам будут начисляться реферальные комиссии с трёх уровней в глубину, а именно 5%, 3%, 1%. В Вашем аккаунте есть Ваша персональная реферальная ссылка, которую Вы можете разослать другим людям и зарабатывать реферальные комиссии. Пожалуйста, не забывайте, что начисление реферальных комиссий возможно только при наличии у Вас активного депозита.',className:'animated bounceInRight'}]

    +b.main--padding
        +breadcrumbs([{title:'Главная',link:'index.html'}],'Стать участником')
        +b.SECTION.info.content
            .container.content-wrapper.clearfix
                +e.text
                    H1.title
                        span.add-style Следуйте инструкциям, чтобы узнать, 
                        span.main-style как начать зарабатывать с Forward Trade
                +e.info-wrapper
                    i.icon-info
                    p Инвестиционная программа разработана таким образом, чтобы она была максимально удобна и проста для понимания. Тем не менее, если у Вас возникают какие-либо вопросы относительно регистрации аккаунта, внесения депозита, процесса выплаты и т. д., пожалуйста, ознакомьтесь с приведёнными пошаговыми инструкциями.
                +b.instructions-row.clearfix
                    each el, i in rowdata
                        +b.instruction-item(data-class=el.className).clearfix
                            +e.heading.clearfix
                                +e.step
                                    span='0'+(i+1)
                                +e.title
                                    each element in el.title
                                        h2=element

                                p=el.content
                            +e.img-wrapper
                                img(src='./img/participate-'+i+'.png')
        include ../partials/start

