extends ./../pug-helpers/_layout
block header
  +createHeader()&attributes({class: 'header-wrapper--white'})
block content
  -let numbersdata = [{number:'5%', title: ['от депозита','партнеров первого уровня'], content: 'Мы ценим наших активных участников, и вознаграждаем их бонусами, за готовность рассказывать о нашей платформе своим друзьям и даже незнакомцам. Мы понимаем труд, вложенный в работу лидерами, и ценим их, естественно звонкой монетой. '},{number:'3%', title: ['от депозита','партнеров первого уровня'], content: 'Наиболее активные партнеры, лидеры бонусной программы, получают постоянный доход за счет своих стараний в развитии и помощи своей команде, ведь помогая другим, мы прежде всего помогаем себе!'},{number:'Карьерный рост', title: [''], content: 'Наиболее активные партнеры, лидеры бонусной программы, получают постоянный доход за счет своих стараний в развитии и помощи своей команде, ведь помогая другим, мы прежде всего помогаем себе!'}]
  -let bonusrow = [{income: '50.000 руб', bonus:'+100 руб'},{income: '100.000 руб', bonus:'+500 руб'},{income: '250.000 руб ', bonus:'+2 000 руб'},{income: '500.000 руб', bonus:'+5 000 руб'},{income: '1.000.000 руб', bonus:'+10 000 руб'},{income: '2.000.000 руб', bonus:'+50 000 руб'},{income: '5.000.000 руб', bonus:'+150 000 руб'}]
  +b.main--padding
    +breadcrumbs([{title:'Главная',link:'index.html'}],'Партнеру')
    +b.SECTION.join--partner.content
      .container.content-wrapper.clearfix
        +e.text
          H2.title Партнеру
          p Мы очень ценим и уважаем труд наших участников, по этому, командой FORWARD-TRADE была разработана эксклюзивная бонусная программа, которая призвана увеличивать среднемесячный доход каждого активного клиента. Используйте свои знакомства - порекомендуйте нашу платформу своим друзьям, и будьте уверены, что Вы будете вознаграждены за свои старания.
          p Известна общедоступная истина – чтобы одному человеку заработать миллион - нужно заработать миллион, но если Вас 1000 человек, то каждому необходимо заработать всего лишь по 1000. Коллективные заработки всегда были наиболее выгодными, быстрыми и интересными. Абсолютно все крупные лидеры в любой сфере деятельности всегда начинали с себя, но со временем понимали, что командная работа намного эффективнее, и начинали строить свои команды, ускоряя достижение цели в десятки раз.


          img.girl(src="./img/partner-girl.png")
    +b.SECTION.numbers.content.container.clearfix
      
      +b.bonus-row
        each el in numbersdata
          +b.bonus-item(data-value=el.number)
            +e.title
              +e.SPAN.number=el.number
              +e.SPAN.text
                each element in el.title
                  span=element
            p=el.content
    +b.SECTION.jumbotron--partner.container-fluid
      .container.clearfix.jumbotron-wrapper.jumbotron-wrapper--partner
        +e.content
          i.icon-gift
          h3 Премиальный бонус для лидеров
          p Расширяя свою команду, а так же добиваясь новых высот, помимо основного партнерского бонуса, Вы будете получать премиальные бонусы за оборот своей структуры. Присоединяйтесь, стройте команды, достигайте своих целей.
    +b.SECTION.bonus-wrapper.content
      .container.content-wrapper.clearfix
        h2.title Сумма привлеченных средств + бонус
        +b.bonus-numbers-row
          each el, i in bonusrow
            +b.bonus-number-item
              +e.H2.income=el.income
              +e.H3.bonus=el.bonus
            -if(i < bonusrow.length - 1)
              +e.I.icon.icon-right
    include ../partials/start


