extends ./../pug-helpers/_personal-layout
block header
  +createHeader()&attributes({class: 'header-wrapper--white'})
block breadcrumbs
  +breadcrumbs([{title:'Главная',link:'index.html'}, {title:'Личный кабинет', link:'personal-all.html'}],'Тарифы')
block aside
  -let headings1 = ['Логин', 'Дата регистрации', 'Сумма вклада, руб', 'Номер транзакции','Бонус, руб']
  -let rows1 = [['ivan123', '25.07.17', '24 455' , '213545', '+2 000'],['ivan123', '25.07.17', '24 455' , '213545', '+2 000'],['ivan123', '25.07.17', '24 455' , '213545', '+2 000'],['ivan123', '25.07.17', '24 455' , '213545', '+2 000'],['ivan123', '25.07.17', '24 455' , '213545', '+2 000']]
  +b.access-data
    h2.title Мои партнеры
    +b.cards-row
      +b.personal-card--100.--center
        
        +e.P.referal
          +b.I.icon-chain
          | Ваша реферальная ссылка:
          span#personal-link http://forward-trade.com/voloshin
        +e.BUTTON.link Скопировать ссылку
      +b.personal-card--100

        +e.row--wide
          +e.SPAN.amount--xl 366
          +e.H2.heading Общая<br> сумма бонусов
        +e.row--short
          +e.H2.heading Всего <br> партнеров:
          +e.SPAN.amount--lg 25
        +e.row--middle
          +e.H2.heading Оборот<br> структуры:
          +e.SPAN.amount--sm 100 000 руб
    p Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Таким образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
    +b.table-wrapper
      h2.title Партнеры I уровня:
      +CreateTable(headings1, rows1)&attributes({class: 'is-ladder'})
    +b.table-wrapper
      h2.title Партнеры II уровня:
      +CreateTable(headings1, rows1)
    +b.graph-wrapper
      h2.title Карьерный рост
      p Таким образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Таким образом дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Идейные соображения высшего порядка, а также укрепление и развитие структуры требуют определения и уточнения позиций, занимаемых участниками в отношении поставленных задач. Таким образом реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий.
      +b.graph
        +e.I.icon--top.icon-right-arrow
        +e.I.icon--right.icon-right-arrow
        +e.P.text--top + % к бонусу <br> за 1 ур.
        +e.P.text--right Количество активных партнеров
        +b.graph-items-wrapper
          -for(let i = 0; i < 10; i++)
            -if(i === 5)
              +b.graph-item--active
                +e.SPAN.title +0.5% 
                +e.concrete
                +e.SPAN.value 50
            -else if(i > 5)
              +b.graph-item--passive
                +e.SPAN.title +0.5% 
                +e.concrete
                +e.SPAN.value 50
            -else 
              +b.graph-item
                +e.SPAN.title +0.5% 
                +e.concrete
                +e.SPAN.value 50
    +b.table-wrapper
      h2.title Уровень привлеченных инвестиций:
      +b.cards-row--25
        -for(let i = 0; i < 8; i++)
          -if(i===7)
            +b.personal-card--25.--fixed.--not-active
              p Чтобы получить партнерский бонус, нужно иметь хотя бы один активный депозит
          -else if(i===4)
            +b.personal-card--25.--fixed.is-active
              h2 50.000 руб 
              h3 +100 руб
          -else
            +b.personal-card--25.--fixed
              h2 50.000 руб 
              h3 +100 руб
    +b.table-wrapper
      +b.cards-row--banner
        -for(let i = 0; i < 2; i++)
          +b.personal-card--100.--fixed.--banner
            .title Баннер











