// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

// common blocks


*
    margin 0
    padding 0
    box-sizing border-box
    -webkit-backface-visibility hidden
html
    font-size 14px
body
    overflow-x hidden
    font-family: $regular
    font-size: 14px
    line-height: 1.4
html, body
    height 100%
	
.main
    padding-bottom 427px
    &--padding
        padding-top 67px
    
.container-fluid
    width 100%
    
    
.clearfix:before,.clearfix:after 
    content ""
    display table
    width 0
    height 0
    visibility hidden
    
.clearfix:after 
    clear both
    
input::-webkit-input-placeholder 
    font-family $regular
    rem(14)
    color #fff
    font-weight 300
input::-moz-placeholder 
    font-family $regular
    rem(14)
    color #fff
    font-weight 300
   
input::-moz-placeholder 
    font-family $regular
    rem(14)
    color #fff
    font-weight 300
input::-ms-input-placeholder 
    font-family $regular
    rem(14)
    color #fff
    font-weight 300
input::-webkit-inner-spin-button
    display none
    -webkit-appearance none
select::-ms-expand 
    display none
img
    border-style none
    
.breadcrumb
    padding 18px 0
    
    background-color: #ffffff;
    &__list
        list-style none
    &__item, &__link
        display inline-block
        color $add
        text-decoration none
        &--devider
            margin 0 5px
            color $main
    &__link
        &:hover
            color $main
        
        
    
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input
    -webkit-appearance none
    -moz-appearance textfield
    border-radius 0
    
select::-ms-expand
    display none
    
select
    -webkit-appearance none
    -moz-appearance none
     
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button 
    -webkit-appearance none
    margin 0




a, img, div, input, select
    &:active, &:focus
        outline none
    

.container 
    
    width 100%
    transition .1s linear all
    position: relative
    margin-left: auto
    margin-right: auto
    padding-right: 15px
    padding-left: 15px
    &--no-padding
        padding 0 !important
    


@media (min-width: 576px)
    .container 
        width: 540px
@media (min-width: 768px)

    .container 
        width: 720px
@media (min-width: 992px)

    .container 
        width: 960px;

@media (min-width: 1200px)
    .container 
        width: 1116px;
.wrapper
    min-height 100%
    position relative