// Normally mainpage styles
.out
  color green
  clearfix()
  rem(10)
  +mobile() 
    color red    
  +tablet()
    color blue 
    rem(16)
    vertical(50)
    horizontal(50)
  +desktop()
    color orange
.left 
  float left
    
