.mfp-close 
  display none !important
.content
  background-color #fff
  .content-wrapper
    padding-top 20px
    padding-bottom 20px
    +md()
      padding-top 42px
      padding-bottom 42px
    +lg()
      padding-top 62px
      padding-bottom 62px
  h1
    font-family $pfd
    rem(30)
    font-weight 500
    text-align center
    margin-bottom 10px
    text-transform uppercase
    span
      &.main-style
        color $main
      &.add-style
        color $dark
    +md()
      position relative
      text-align left
      z-index 1
      margin-bottom 42px
      opacity 0
    +lg()
      rem(43)
      margin-bottom 90px
      &:before
        z-index -1
        content attr(data-title)
        position absolute
        text-transform uppercase
        left 0%
        top 50%
        transform translateY(-50%)
        rem(80)
        color #f9f9f9
  h2
    font-family: $black
    color $main
    text-align center
    rem(33)
    +md()
      text-align left
      
  & > p
    color $add
    font-family $regular
    line-height 25px
    rem(13)
    margin-bottom 20px
    +lg()
      margin-bottom 40px
// Normally mainpage styles
.jumbotron
  background-image url('./../img/main-bg--sm.png')
  background-size cover
  background-position center
  position relative
  overflow hidden
  &--partner 
    text-align center
    background-image url('./../img/partner-bg.png') !important
    
  &--company 
    
    background-image url('./../img/trader-bg.png') !important
    padding-right 0 !important
    padding-left 0 !important
    .trader-img
      width 100%
      
      display block
      
  +lg()
    background-image url('./../img/main-bg--lg.png');
  &__content
    color #fff
    i
      rem(60)
      color #fff
      margin-bottom 32px
    h3
      color $main
      rem(33)
      font-family $black
      margin-bottom 41px
    p
      font-weight 300
      margin 0 auto
      rem(15)
      line-height 25px
      max-width 690px
      font-family $regular 

  &__title-wrapper
    padding-top 20px 
    padding-bottom 20px
    
    +sm()
      padding-top 75px
      padding-bottom 75px
      text-align left
    +md()
      padding-top 150px
      padding-bottom 150px
    
    
  &__title
    text-align center
    font-family $pfd
    font-weight 500
    rem(35)
    
    span
      letter-spaceing 2px
      display block
    span.add-style
      color #2a3e48
    span.main-style
      color $main
    +sm()
      text-align left
      
  &__mask
    display none
    width: 100%
    position: absolute
    height 100%
    +md()
      background-color rgba(0,0,0,.5)
      z-index: 2
      display: block
    
  &__main-video
    +md()
      top 50%
      z-index: 1
      transform translateY(-50%)
      width: 100%    !important;
      height: auto   !important;
      position absolute
      display block
      
  &__img-block
    width 100%
    position relative
    margin-bottom 20px
    +sm()
      float left
      width 380px
    +lg()
      
      float left
  &__img
    display block
    max-width 100%
    margin 0 auto
  &__text
    margin-top 20px
    color #fff
    +md()
      position absolute
      left 115%
      width 290px
      bottom -5px
      transform translateX(-50%) 
    +lg()
      width 320px
      
.jumbotron-wrapper
  padding-top 80px  
  padding-bottom 80px  
  position: relative
  z-index: 3
  &--partner
    background-image none !important
    padding-top 40px !important
    padding-bottom 40px
    +lg()
      padding-top 110px !important
      padding-bottom 110px
    
    
  +lg()
    background-image url('./../img/result.png')
    background-position calc(100% - 15px) bottom
    background-repeat no-repeat
    padding-top 190px
    
    
.card
  &--why
    margin-bottom 40px
    
    h3
      rem(15)
      font-family $bold
      color #2a3e48
      padding-top 37px
      position relative
      text-align left
      margin-bottom 20px
      &:after
        top -50px
        left 0
        content attr(data-id)
        rem(100)
        font-family $pfd
        opacity: 0.12;
        color: #4cb059;
        position absolute
    p
      rem(13)
      text-align left
      
      color #486776
      line-height 20px
    +md()
      opacity 0
      margin-top 82px
      display inline-block
      width 23.5%
      vertical-align top
  &--top
    width 287px
    color #fff
    margin 60px auto 0
    padding 50px
    background-color rgba($main, .78)
    clear both
    h1
      rem(60)
      line-height 50px
      font-family $pfd
      text-transform uppercase
      margin-bottom 32px
    p
      rem(14)
      margin-bottom 45px
      line-height 25px
    +sm()
      width: 287px
      margin-top 0
      clear none
      float right
  &--stages
    margin-bottom 30px
    width 100%
    padding-bottom 20px
    box-shadow: 0 30px 27px rgba(0, 0, 0, 0.05);
    +xs()
      width: 48%
      &:nth-child(2n + 1)
        float left
      &:nth-child(2n + 2)
        float right
    +sm()
      width: 255px
    +md()
      opacity 0
    img
      width: 100%
      display: block
      margin-bottom 41px
    h3
      text-transform initial
      color: #20c335;
      rem(18)
      font-weight: 700;
      line-height: 25px;
      margin-bottom 24px
    h3, p
      padding 0 25px
    p
      color: #486776;
      rem(13)
      font-weight: 400;
      line-height: 20px;
  &--advantages
    margin-bottom 40px
    
    img
      display block
      margin 0 auto
      height 69px
    h3
      color: #20c335;
      rem(15)
      font-weight: 700;
      line-height: 25px;
    p
      color: #486776;
      rem(13)
      font-weight: 400;
      line-height: 20px;
    i 
      display none
    +sm()
      display inline-block !important
      height 100%
      vertical-align top
      // float right
      width: 48%
      &:nth-child(2n + 1)
        // float left
      &:last-child
        clear both
        float none
        margin-left auto
        margin-right auto
    +lg()
      opacity 0
      width: 20%
      float left
      padding-right 20px
      position: relative
      img
        margin 0
      h3
        margin-top 50px
        margin-bottom 36px
      i 
        position: absolute
        top 30px
        right 34px
        display block
      &:last-child
        clear none
        float left
  &--statistics
    text-align center
    margin-bottom 20px
    h3
      color: #20c335;
      rem(15)
      line-height: 25px;  
    .value-wrapper
      position: relative
    p
      vertical-align middle
      font-family: $bold
      background-image: -webkit-linear-gradient(180deg, rgba(42, 62, 72, .7) 0%,   rgba($light-color, 1) 100%);
      -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      color: #2a3e48;
      display inline-block
      
      font-size: 50px 
      line-height 50px
      position: relative
      font-weight: 900;
    span
      left 0px
      top 50%
      // transform translateY(-50%)
      // position: absolute
      vertical-align middle
      display inline-block
      width: 38px 
      height 38px
      background-color $main
      border-top-left-radius 19px
      border-bottom-left-radius 19px
      border-bottom-right-radius 19px
      text-align center
      line-height 42px
      i
        color #fff
        // color $main
    +xs()
      float left
      h3
        rem(12)
        margin-bottom 0px
      p
        rem(30)
      
    +md()
      h3
        padding-left 20px
        margin-bottom 28px
        rem(15)
      p
        line-height 60px
        rem(60)
      span 
        position: relative
        left 10px
        z-index: 1
      
    +lg()
      // min-width 30%
      p
        line-height 100px
        rem(100)
      span 
        left 20px
      
    
        
        

      
  // +md()
    
  
  &__link
    rem(13)
    display block
    color #fff
    font-weight bold
    text-decoration none
    border 1px solid #fff
    text-align center
    height 48px
    border-radius 5px
    line-height 48px
    cursor pointer
    transition .5s linear all
    i
      display inline-block
      margin-left 5px
      rem(9)
    &:hover
      background-color $main
      
      

// about block    
.about
  background-image url('./../img/about-graph.png') 
  background-repeat no-repeat
  background-size contain
  background-position center bottom
  
  &__img-wrapper
    display none
    width 280px
    margin 0 auto
    +md()
      display block
      float left
    +lg()
      width 45%
  &__text
    +md()
      float right
      width calc(100% - 330px)
    +lg()
      width 45%
    p
      color #486776
      font-family $regular
      line-height 25px
      rem(13)
      margin-bottom 20px
      +lg()
        margin-bottom 40px
  &__img
    width 100%
    display block
// about block    
  
// work block
.work
  padding 20px 0
  position relative
  background-color #f1f4f7
.advantage-row
  margin-top 40px
  text-align center
  position relative
  
  +lg()
    padding-top 20px
    
.svg-wrapper
  
  position absolute
  top 256px
  left 47%
  transform translateX(-50%)
  img
    display none
    +lg()
      display block

.advantage-item
  display table
  width 100%
  // height 110px
  margin-bottom 66px
  background-color #fff
  position relative
  z-index 10
  text-align left
  +sm()
    display inline-block
    width 48%
    float left
    &:nth-child(2n + 1)
      padding-right 90px
    &:nth-child(2n + 2)
      padding-right 20px
    &:nth-child(2n)
      float right
  +md()
    opacity 0
    width 350px
    &:nth-child(2n + 1)
      padding-right 110px
    &:nth-child(2n + 2)
      padding-right 40px
    // &:nth-child(2n)
    //   float none
    // &:nth-child(3n)
    //   float left
  +lg()
    margin-bottom 57px
    &:nth-child(2n)
      float none
    &:nth-child(2n + 3)
      float none
    &:nth-child(3n + 1)
      float left
    &:nth-child(3n)
      float right
      &__text
        padding-right 60px
      
    
    
  &:hover
    .advantage-item__icon-wrapper
      background-color $dark
    .advantage-item__icon
      color $main
  // &:nth-child(2n + 1)
  //   padding-right 90px
  &:last-child
    margin-bottom 0
    margin 0 auto
    float none
    clear both
    +lg()
      margin 0 auto
      float none
    
  &__order
    position absolute
    top -40px
    font-family $pfd !important
    rem(32)
    color $add
    z-index -1
    &:before
      top -50%
      left -100%
      z-index -2
      content attr(data-id)
      position absolute
      rem(100)
      color rgba(76, 176, 89, 0.12)
      
  &__icon-wrapper
    display table-cell
    height 120px
    width 120px
    background-color $main
    text-align center
    line-height 110px
    +sm()
      float left
      display block
      width 110px
      height 110px
    &--active
      background-color $dark
  &__icon
    vertical-align middle
    color #fff
    rem(70)
    &--active
      color $main
  &__text
    vertical-align middle
    display table-cell
    width calc(100% - 110px)
    padding 0 10px
    +sm()
      // padding 0 20px
      float right
      display block
      width calc(100% - 120px)
  p
    color $add
    margin-bottom 0 !important
    +sm()
      padding-top 20px
// work block


// stages block
.stages-row
  +xs()
    display flex
    flex-wrap wrap
    flex-direction row
    justify-content space-between
  +sm()
    margin-left -10px
    margin-right -10px
    justify-content space-around
// stages block
    
// stages block
.traders
  background-color #f1f4f7
// .carousel

.carousel-control 
  position: absolute
  top: 75px
  background-color rgba($light-color, .06)
  
  width: 46px 
  height 46px
  z-index: 10
  line-height 50px
  text-align center
  cursor pointer
  &--left
    left -45px
  &--right 
    right -45px
    
  
.carousel-card
  text-align center
  position: relative
  margin 0 5px
  &:hover
    .carousel-card
      &__text-wrapper
        background-color #fff
      &__details
        visibility visible
        opacity 1
        
  &__img-wrapper
    
    position: absolute
    z-index: 1
    left 50%
    transform translateX(-50%)
    width: 150px
    height 150px
    border-radius 100px
    box-shadow: 0 28px 24px rgba(0, 0, 0, 0.17);
    overflow hidden
    MARGIN 0 auto
    img
      display block
      width: 100%
      height 100%
  
  &__text-wrapper
    transition .2s linear all
    position: relative
    background-color #fff
    margin-top 75px
    padding-bottom 25px
    +lg()
      background-color transparent
  &__name
    font-family: $bold
    padding-top 105px
    margin-top 38px
    color: #486776;
    rem(17)
    font-weight: 700;
    line-height: 25px;
    margin-bottom 21px
  &__expirience
    color: #486776;
    rem(14)
    font-weight: 400;
  &__rate
    font-family: $bold
    color: #486776;
    rem(18)
    font-weight: 900;
    margin-bottom 37px
    span 
      color: #20c335;
      font-weight: 900;
  &__link
    width: 185px
    margin 0 auto
    @extends .card__link
    background-color: #20c335;
    background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%);
    i
      display inline-block
      margin-top 2px
      transition .2s linear all
    &:hover
      background-color #2a3e48
      i
        color #20c335
  &__details
    display: block
    margin-top 25px
    color: #20c335;
    transition .2s linear all
    text-decoration none
    rem(13)
    +lg()
      visibility hidden
      opacity 0
      
    &:hover 
      color #2a3e48
      
.carousel
  margin-top 150px
  margin 0 auto
  width calc(100% - 90px)

.infowindow
  background-color #f1f3f5
  max-width 600px
  padding-bottom 20px
  +md()
    padding 0 56px 54px
  &__title
    padding 20px 15px
    color: #2a3e48;
    margin-left -15px
    margin-right -15px
    box-shadow: 0 28px 24px rgba(0, 0, 0, 0.17);
    rem(25)
    font-weight: 900;
    margin-bottom 20px
    position: relative
    +md()
      padding 20px 54px 
      margin-left -54px
      margin-right -54px
    span 
      cursor: pointer
      top 50%
      vertical(50)
      position: absolute
      right 30px
      
      &:hover 
        color $main
  &__img-wrapper
    width 150px
    height 150px
    box-shadow: 0 28px 24px rgba(0, 0, 0, 0.17);
    border-radius 50%
    margin 0 auto
    
    img
      display block
      width: 100%
    +md()
      float left
      width: 200px
      height 200px
      margin-bottom 55px
  &__name
    text-align center
    margin-top 40px
    margin-bottom 20px
    color: #486776;
    rem(25)
    font-weight: 700;
    line-height: 25px;
    +md()
      padding-top 20px
  &__details-toggle
    @extends .card__link  
    background-color #fff
    color $main
    width: 100%
    box-shadow: 0 36px 32px rgba(61, 78, 95, 0.08);
    &:hover
      background-color rgba(255,255,255,.4)
    +md()
      margin: 26px auto 0
      width: 235px
  &__personal
    clear both
    margin-top 20px
    p
      color: #38515e;
      font-size: 15px;
      line-height: 25px;
      font-weight: 700;
      span 
        float right
        font-weight: 300;
    +md()
    
      display flex
      justify-content space-around
      
      p
        float left
        width: 33%
        span 
          float none
          display block
  &__finance-details
    margin-top 20px
    line-height: 54px;
    p
      color: #38515e;
      rem(20)
      font-weight: 700;
      span 
        color: #20c335;
        rem(30)
        font-weight: 900;
        float right
    +md()
      display flex
      p
        float left
        width: 50%
        rem(23)
        span
          
          rem(38)
          float none
          display: block
  &__stage
      @extends  .infowindow__personal
      +md()
        display block
        p
          width: 100%
          & + p
            margin-top 25px
      
// advantages
.advantages-row
  text-align center
  margin-top 20px
  +lg()
    display flex
    justify-content space-between
    text-align left

.statistics-row
  .icon-direction
    display none
  +xs()
    margin-top 20px
    display flex
    align-items center
    justify-content space-between
  +md()
    .icon-direction
      display block
          

    
.start-work
  background-image url('./../img/start-work.png')
  background-position center
  background-repeat no-repeat
  background-size cover
  padding 47px 0
  +md()
    padding 189px 0
    .right-aligned
      float right
    &__link
      margin 0
  .title
    text-shadow 1px 1px 1px #fff
    margin-bottom 47px
    clear both
    
  &__link
    @extends .card__link
    background-color $main
    border none
    width 280px
    margin 0 auto
    &:hover
      background-color rgba($main,.7)
    i
      vertical-align middle
    +md()
      margin-right 40px
.relations
  background-color #fff
.relation-item
  position: relative
  background-color: #f1f4f7;
  padding 0 20px
  &__img-wrapper
    display none
    img
      display: block
      width 100%
      height 100%
      
  &__count
    margin-bottom 30px
    width: 78px;
    height: 78px;
    box-shadow: 0 30px 27px rgba(0, 0, 0, 0.18);
    background-color: #20c335;
    span
      color: #ffffff;
      font-family: $pfd
      font-size: 100px;
      font-weight: 500;
  &__text
    h2
      color: #20c335;
      rem(22)
      line-height 29px
      margin-bottom 20px
      font-family: $black
      text-transform: uppercase;
    p
      color: #486776;
      rem(13)
      line-height: 20px;
      margin-bottom 20px
  +lg()
    padding 0
    margin-bottom 0
    &__count
      position: absolute
      top 90px
      z-index: 1
      horizontal(50)
    &__img-wrapper
      float left
      display: block
      width: 50%
      height 581px
    &__text
      height 100%
      float left
      width 50%
      h2
        text-align left
      p
        line-height 22px
        rem(13)
    &:nth-child(2n + 1)
      .relation-item__text
        float right
        padding 90px 70px 0 90px
    &:nth-child(2n + 2)
      .relation-item__text
        padding 90px 90px 0 70px
  // line-height: 30px;


// index page end

// company start
.company-img
  display none
  +lg()
    display block
    width 100%
  
.company
  &__company-wrapper
    max-width 707px
    .title
      text-align left
      font-size 33px
      font-family $black
    +md()
      float left
      max-width calc(100% - 300px)
    +lg()
      padding 57px 65px 0 65px
      max-width: 707px
      position absolute
      top -200px
      background-color #fff
      z-index 1
      .title
        text-align left
        margin-bottom 58px
  +lg()
    .content-wrapper 
      
      padding-top 45px !important
      padding-bottom 0 !important
        
    
  &__info-row
    margin-top 20px
  &__certificates-row
    margin-bottom 20px
    text-align center
  &__link
    position relative
    width 126px
    height 186px
    display inline-block
    img
      display block
      width: auto
      height 100%
    &:hover
      .company__mask
        display block
  &__mask
    transition .2s linear all
    display none
    color #fff
    width 100%
    height 100%
    left 0
    position absolute
    background-color: rgba(30, 175, 38, 0.41);
    text-align center
    line-height 186px
  &__text-row
    color: #486776;
    rem(13)
    font-weight: 400;
    line-height: 25px;
    p 
      & + p
        margin-top 20px
.download-wrapper
  max-width 350px
  margin 20px auto 0
  +sm()
    display flex
    flex-wrap wrap
    max-width initial
  +md()
    margin-top 47px
    float right
    width 250px
  +lg()
    width 350px
    margin-top 0px
  &__download-link
    
    text-decoration none
    display flex
    align-items center
    justify-content space-between
    margin 0 auto 10px
    padding 24px  36px
    background-color #fff
    transition .2s linear all
    box-shadow: 0 15px 27px rgba(61, 78, 96, 0.06);
    &:hover
      background-color: #edf9ee;
      .download-wrapper__icon-download
        color $main
    +sm()
      width: 48%
    +md()
      width: 100%
    
  &__icon-pdf
    rem(39)
    color $main
  &__icon-download
    rem(14)
    transition .2s linear all
    color #dcdcdc
  &__text
    color $add
.certificate-popup
  &__img
    width: 100%
    display block
    
// faq
@import '../partials/faq/faq'

// faq
// traders
// .why
//   .content-wrapper
//     padding-bottom 0 !important
.demands
  .content-wrapper
    padding-top 0 !important
    +md()
      background-image url('./../img/trader-must.png')
      background-repeat no-repeat
      background-position 80px bottom
      background-size contain
  .title
    rem(33)
    +md()
      margin-right 30px
      text-align right
    +lg()
      margin-right 126px
.demands-row
  margin-top 20px
  h4
    color #486776
    line-height 45px
    rem(14)
    font-family $regular
    font-weight 400
    +md()
      opacity 0
    
    i 
      display inline-block
      margin-right 26px
      color $main
      rem(9)
  +md()
    width 60%
    float right
.join
  background #f5f8fa
  &--partner 
    z-index 1
    background #fff !important
    +md()
      .container
        padding-bottom 0 !important
        padding-top 20px !important
      
  img
    display none
  +md()
    background #f5f8fa url('./../img/trader-join-bg.png') no-repeat right bottom
    img
      display block
      position absolute
      right 137px 
      bottom 0px
      &.girl
        right 0px
    // background-size contain
  &__text
    h2
      margin-bottom 27px
    p
      color #486776
      line-height 25px
      rem(14)
      & + p
        margin-top 20px
    +md()
      width 49%
      padding 10px 0 0
      h2
        
        margin-bottom 54px
.form-wrapper
  &__img-wrapper
    margin-bottom 20px
    img
        display none
  p
    rem(13)
    color #486776
    line-height 25px
  +md()
    &__img-wrapper
      margin-top 60px
      float left
      max-width 290px
      img
        display block
        width 270px
        margin-bottom 68px
  +lg()
    &__img-wrapper
      max-width 320px
  &__text
    +md()
      width 590px
      float right
    +lg()
      width 640px
.form
  width 100%
  margin 33px auto 0
  +sm()
    width auto
    
    
  &__form-control
    position relative
    label
      cursor pointer
      margin-bottom 9px
      rem(15)
      color #486776
      font-family $bold
      display block
      &.error
        cursor initial
        position absolute
        bottom 0px
        font-family $regular
        font-weight 300
        color red
    &--50
      width 100%
      +sm()
        width 48%
        float right
        &:nth-child(2n)
          float left
    &--part
      width 100%
      +xs()
        width 30%
        float left
        margin-right 10px
        
    &--100
      width 100%
      clear both
    &--right
      float right  !important
    &--top
      input
        padding 0 20px
      +xs()
        margin-top 30px
      +md()
        input
          padding 0 40px
    &--single
      height 50px
      line-height 50px
      float left
      color: #486776;
      font-family $regular
      rem(13)
      font-weight: 300;
  &__input
    margin-bottom 30px
    font-family $regular
    rem(14)
    color #486776
    font-weight 300
    padding-left 19px
    width 100%
    height: 50px;
    border none
    box-shadow: inset 2px 2px 0 rgba(102, 115, 130, 0.18);
    border-radius: 5px !important
    background-color: #f1f4f7;
    &.error
      border 1px solid red
    &[type="file"]
      // position absolute
      z-index -1
      cursor pointer
    &--rur
      background #f1f4f7 url('./../img/rur.png') 97% center no-repeat
      
    &--dropdown
      background #f1f4f7 url('./../img/downarrow.png') 97% center no-repeat
      
    &--textarea
      resize none
      height 100px
      padding-top 10px
      &:focus
        
        outline none
    &--mask
      line-height 50px
      pointer-events none
      background #f1f4f7 url('./../img/pin.png') 97% center no-repeat
      cursor pointer
      position absolute
      z-index 1
      bottom 0
      left 0
    &--submit 
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.23);
      border-radius: 5px;
      background-color: #20c335;
      background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%);
      color #fff
      @extends .card__link
      padding-left 0
      float right
  
// traders
// participate
.info
  &__text
    .title
      span
        display block
  &__info-wrapper
    padding 40px
    box-shadow: 0 15px 27px rgba(61, 78, 96, 0.06);
    +sm()
      display table
    i
      rem(67)
      color $main
      float left
      margin-right 20px
      margin-bottom 20px
      +sm()
        margin-right 0px
        margin-bottom 0px
        float none
        vertical-align middle
        display table-cell
      
    p
      +sm()
        color $add
        padding-left 39px
        vertical-align middle
        display table-cell
.instructions-row
  margin-top 42px
.instruction-item
  margin-bottom 44px
  clear both
  box-shadow: 0 15px 27px rgba(61, 78, 96, 0.06);
  +sm()
    box-shadow: 0 0 0 0
    margin-bottom 94px
  &__img-wrapper
    width 100%
    box-shadow: 0 15px 27px rgba(61, 78, 96, 0.06);
    margin-bottom 20px
    float right
    +xs()
      width 30%
    +sm()
      margin-bottom 0
    +lg()
      width 48%
    img
      display block
      width 100%
  +lg()
    &:nth-child(2n)
      .instruction-item
        &__img-wrapper
          float right
        &__heading 
          float left
    &:nth-child(2n + 1)
      float right
      .instruction-item
        &__img-wrapper
          float left
        &__heading
           
          float right
  &__heading 
    float left
    padding-bottom 20px
    +xs()
      width 68%
    +lg()
      width 48%
  &__step
    box-shadow: 0 30px 27px rgba(0, 0, 0, 0.18);
    margin-right 39px
    display inline-block
    height 62px
    width 62px
    background-color $main
    float left
    position relative
    +sm()
      margin-bottom 61px
    span
      position absolute
      bottom -36px
      rem(78)
      right -10px
      font-family $pfd
      color #fff
      font-weight 500
        
  &__title
    float left
    line-height 1
    margin-bottom 20px
    h2
      text-align left
  p
    clear both
    color #486776
    rem(13)
    line-height 25px
// participate

// partner
.bonus-row
  margin-top 20px
  +md()
    display flex
    justify-content space-between
    margin-top 55px
  
.bonus-item
  margin 0 auto 30px
  position relative
  max-width 540px
  box-shadow: 0 15px 27px rgba(61, 78, 96, 0.06);
  background-color: #20c335;
  color #fff
  z-index 1
  padding 20px
  +md()
    padding 53px
    width calc(100% / 2 - 15px)
    margin-bottom 65px
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
      


  &:after
    content attr(data-value)
    position absolute
    rem(100)
    font-family $black
    color: #2dcf42;
    z-index -1
    left -2px
    bottom -38px
    +sm()
      bottom 0
      line-height 185px
      rem(294)
  &__title
    +sm()
      display table
  &__number, &__text
    vertical-align middle
    font-family $black
    +sm()
      display table-cell
  &__number
    rem(83)
  &__text
    padding-left 26px
    span 
      display block
      rem(20)
  p
    rem(15)
    line-height 25px
.bonus-wrapper
  .title
    text-align center
.bonus-numbers-row
  display flex
  align-items top
  justify-content space-around
  flex-wrap wrap
  
  margin-top 20px
  +md()
  
    margin-top 75px
    margin-bottom 25px
    justify-content space-between
    
  
  &__icon
    display none
    margin-top 5px
    rem(10)
    color #2a3e48
    opacity .19 !important
    +md()
      display block
.bonus-number-item
  width 100%
  text-align center
  margin-bottom 30px
  // width 100%
  +xs()
    width 30%
  +md()
    opacity 0
    text-align center
    width auto
  +lg()
    margin-bottom 0
    text-align left
  h2
    rem(18)
    color: #486776;
    font-family $black 
  h3
    rem(16)
    font-family $bold
    color $main
    margin-top 15px
  

// partner

// personal

.personal-header
  display none 
  margin-top 20px
  &.is-active
    display flex
    justify-content space-around
    flex-wrap wrap
  // @media(min-width 400px)
    // align-items center
  +md()
    display flex
    flex-wrap wrap
    justify-content space-between
    box-shadow: 0 15px 27px rgba(61,78,96,0.06);
 

    
    


.personal-item
  width 100%
  margin-bottom 20px
  text-align center
  @media(min-width 400px)
    width auto
    // min-width 50%
    h2
      margin-bottom 0
    &--ip
      width 100%
    &--currency, &--amount, &--time
      width 33%
  +md()
    text-align left !important
    &--ip,&--time, &--currency, &--amount
      width auto
    &--ip
      h2
        margin-bottom 20px
    &--time
      h2
        margin-top 8px
        margin-bottom 25px
      h3
        padding-left 25px
        i
          left 0
    &--currency
      h2
        margin-top 8px
        margin-bottom 8px
    &--amount
      h2
        margin-top 8px
        margin-bottom 12px
    &--purchase
      margin-top 9px
    
  h2
    margin-bottom 10px
  &--ip
    h2
      rem(24)
      font-family $black
      color: #2a3e48;
      text-transform uppercase
      span 
        color: #1eaf26;
    h3
      rem(15)
      color #2a3e48
      font-weight 300
  &--time
    h2
      rem(13)
      color: #2a3e48;
    h3
      color #76878f
      position relative
      i 
        position absolute
        top 50%
        transform translateY(-50%)
        left calc(50% - 50px)
      
  &--currency, &--amount 
    h2
      color: #2a3e48;
      rem(15)
      font-family $bold
  &--currency
    h3 
      color: #2a3e48;
      rem(13)
      font-weight: 300;
  &--amount 
    h3
      rem(27)
      color: #1eaf26;
      font-family $black
      text-transform: uppercase;
  &--purchase
    button
      margin 0 auto
      @extends .card__link
      width 215px
      height 60px
      position relative
      box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.23);
      border-radius: 5px;
      background-color: #20c335;
      background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%);
      padding-left 30px
      padding-top 1px
      font-family $bold
      &:hover
        background-color $main
        
        
      i

        // vertical-align middle
        position absolute
        top 50%
        transform translateY(-50%)
        margin-right 18px
        left 15px
        rem(19)


.aside-block
  .purchase 
    @extends .card__link
    margin 0 auto
    width: 205px;
    height: 50px;
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    background-color: $main
    background-image: linear-gradient(-1deg, rgba(0, 0, 0, 0.11) 0%, rgba(0, 0, 0, 0) 100%);
    &:hover
      background-color #1eaf26
      
  .title
    span 
      color: #2a3e48;
      rem(13)
      font-weight: 400;
  &--left 
    +md()
      float left
  &--right
    +md()
      padding 46px 0 46px 46px
      width calc(100% - 281px)
      float right
      background-color #fff
    .title
      rem(30)
      font-family $black
      color $main
      +md()
        margin-bottom 45px
      
.toggle-wrapper
  h2 
    cursor pointer
    color $main
    text-align left
    rem(20)
    i 
      margin-top 4px
      display inline-block
      margin-right 5px
      float right
  +md()
    display none
    
.personal-toggler
  @extends .header__toggle 
  left 0
  right auto
  margin-top 0
  &__toggle-item
    @extends .header__toggle-item 
    
.main-content-wrapper
  +md()
    position relative
    &:before
      content ''
      background-color $main
      position absolute
      top 0
      height 138px
      width 40%
      z-index -1
    &:after
      z-index -1
      content ''
      position absolute
      top 138px
      height 100%
      width 40%
      background-color #38515e
.personal-navigation
  display none
  margin-top 20px
  +md()
    margin-top 0
    margin-left -25px
    display block
    width 306px
  &__heading
    width 100%
    padding 20px
    background-color $main
    display table
    position relative
    &:after
      position absolute
      content ''
      bottom -10px
      left 20px
      border-top 20px solid $main
      border-left 20px solid $main
      border-right 2px solid transparent
      border-bottom 10px solid transparent
      visibility visible
    +md()
      padding 28px 0px
      padding-left 25px
  &__img-wrapper
    display table-cell
    width 82px
    height 82px
    border-radius 7px
    
    overflow hidden
    img
      display block
      width 100%
    
  &__name
    vertical-align middle
    display table-cell
    color #fff
    padding-left 20px
    h2
      text-align left
      color #fff
      rem(17)
      font-family $bold
      span 
        font-family $regular
        rem(13)
        display block
  &__content
    background-color: #38515e;
    display flex
    flex-direction column
    +md()
      margin-top 20px

  &__link
    padding 22px 20px
    color #fff
    text-decoration none
    background-color: #38515e;
    
    +md()
      padding 22px 0
      padding-left 25px
      
    i
      width 20px
      display inline-block
      margin-right 33px
    &:hover, &--active
      color $main
      background #344c58 url('./../img/arrow.png') no-repeat 95% center
      
.cards-row
  &--25
    display flex
    flex-wrap  wrap
    
    justify-content space-between      
  +lg()
    margin-bottom 40px
.personal-card
  background-color #fff
  box-shadow: 0 36px 32px rgba(61, 78, 95, 0.08);
  border-radius 5px
  position relative
  color #2a3e48
  padding 20px 20px 30px 20px
  margin-bottom 23px
  &__icon
    position absolute
    top 10px 
    right 10px
    color #2a3e48;
    opacity: 0.16;  
    rem(15)
  &__title
    rem(18)
    font-family $black
    max-width 70%
    margin-bottom 50px
    span
      rem(13)
      font-family $regular
  &__number
    rem(80)
    color $main
    font-family $black
    line-height 63px
    float right
  &__total
    rem(25)
    font-family $black
    color $main
  // &__img
  //   display block
  //   height 32px
  &--50
    width 100%
    +lg()
      float left
      width calc(100% / 2 - 10px)
      &:nth-of-type(2n)
        float right
        
  &--25
    float left
    width 100%
    transition .2s linear all
    
    &.is-active
      border: 3px solid rgba(30, 175, 38, 0.27);
      background-color: #ffffff;
    
    @media(min-width 400px)
      width calc(100% / 2 - 10px)
    +lg()
      width calc(100% / 4 - 10px)
    .personal-card
      &__title
        max-width 54%
        +lg()
          max-width 64%
  &--data
    min-height 220px
    position relative
    .personal-card
      &__total
        bottom 30px
        position absolute
  &--deal
    .personal-card__title
      margin-bottom 36px
  &--total
    .personal-card__values-row
      display flex
      justify-content space-between
      flex-wrap wrap
    h3
      width 33%
      float left
      
      rem(15)
      &:first-of-type
        span 
          color $main
      &:nth-of-type(2)
        span 
          color #2093c3
      &:nth-of-type(3)
        span 
          color: #e9a041
      span 
        rem(20)
        font-family $black
        display block
.finance-action-bar
  margin-bottom 40px
  &__link
    display block
    width 50%
    line-height 66px
    text-align center
    color $add
    height 66px
    float left
    rem(16)
    font-family $black
    background-color #dfe3e5
    text-decoration none
    background-image: linear-gradient(-1deg, rgba(0,0,0,0.11) 0%, rgba(0,0,0,0) 100%);
    &:hover
      
      background-color $add
      color #fff
    &--active
      color #fff
      box-shadow: 0 13px 24px rgba(61, 78, 95, 0.27), inset 0 3px 0 rgba(56, 81, 94, 0.34);
      background-color #1eaf26

.rules
  @extends .info__info-wrapper
  width 100%
  position relative
  &--styled 
    padding-right 140px
  &__info
    position absolute
    right 10px
    top 43px
    rem(13)
    color: #38515e;
    line-height: 20px;
    font-family $bold
    span 
      font-family $regular
      font-weight: 100;
      display block
  i
    margin-left 10px
    display inline-block !important
    rem(20)
    color  #38515e;
    opacity: 0.16;
  &__title
    rem(20)
    color: #38515e;
    font-family $black
    margin-bottom 25px
  p 
    display block !important
    padding-left 0 !important
    rem(15)
    line-height 25px 
    color: #486776;
    
    
.table-wrapper
  margin-top 33px 
  +sm()
    margin-top 66px
  .title
    rem(20)
    font-family $black
    color: #38515e
.table
  margin-top value
  width 100%
  margin-bottom 130px
  border-collapse collapse
  color #999999
  &--stripped
    tr:nth-child(odd)
      background-color: #f1f4f7;
  th
    background-color rgba(56, 81, 94, .53);
    rem(13)
    color #fff
    font-family $bold
    text-align left
    padding 14px 14px
  td
    color #38515e
    padding 14px 14px
    height 40px
    i
      rem(9)
      display inline-block
      margin-right 5px
      &.is-success
        color $main
      &.is-pending 
        color skyblue
      &.is-failed 
        color red
      
    // &:first-child
    //   width 40%
@media(max-width 768px)
  .table
    margin-bottom 20px
    width 100%
    tr:first-child
      display none
      
    tr
      padding 20px 0
    th
      rem(12)
      padding 12px 40px
    td
      rem(16)
      padding 12px 40px
    td
      display block
      text-align  right
      &:first-child
        width 100%
      &:before
        width 50%
        text-align left
        float left
        content ''
        content attr(data-th) 
    
// personal
  
@media(min-width 400px)
  .company
    &__certificates-row
      float left
      clear both
      width: 128px
      margin-right 20px
      margin-bottom 0
      position: relative
      z-index: 1
    &__link
      margin-bottom 10px
      display block
      
      