include ../../node_modules/bemto.pug/bemto.pug
include mixin
mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)
-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  }) 
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    block title
      title Forward
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" media="all" href="css/style.css")
  body
    .wrapper
      block header
        +createHeader()
      block content
      include ../partials/footer/footer
      #small-thanks.mfp-hide.infowindow-wrapper
        +b.infowindow--nopadding.container
          +b.info__info-wrapper
            +e.icon-close &times;
            i.icon-info
            p Ваша заявка на вывод средств принята и будет обработана в течение 3-суток
    block additional-scripts
      script(src="js/app.js")
    

    