+b.SECTION.start-work.content
    .container.content-wrapper.clearfix
        .right-aligned
            h1.title
                span.main-style Начни зарабатывать <br>
                span.add-style легко и быстро уже сегодня!
            +e.A(href="register.html").link Бесплатная регистрация
                i.icon-right
