@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-sepa ="\EA01"
$icon-skrill ="\EA02"
$icon-01 ="\EA03"
$icon-02 ="\EA04"
$icon-03 ="\EA05"
$icon-04 ="\EA06"
$icon-05 ="\EA07"
$icon-06 ="\EA08"
$icon-07 ="\EA09"
$icon-calendar ="\EA0A"
$icon-client ="\EA0B"
$icon-dollar ="\EA0C"
$icon-instagram ="\EA0D"
$icon-login ="\EA0E"
$icon-vk ="\EA0F"
$icon-youtube ="\EA10"


icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend icon
	display: inline-block

.icon-sepa:before
	content: $icon-sepa
.icon-skrill:before
	content: $icon-skrill
.icon-01:before
	content: $icon-01
.icon-02:before
	content: $icon-02
.icon-03:before
	content: $icon-03
.icon-04:before
	content: $icon-04
.icon-05:before
	content: $icon-05
.icon-06:before
	content: $icon-06
.icon-07:before
	content: $icon-07
.icon-calendar:before
	content: $icon-calendar
.icon-client:before
	content: $icon-client
.icon-dollar:before
	content: $icon-dollar
.icon-instagram:before
	content: $icon-instagram
.icon-login:before
	content: $icon-login
.icon-vk:before
	content: $icon-vk
.icon-youtube:before
	content: $icon-youtube
