@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-search= "\EA01"
$icon-download= "\EA02"
$icon-01= "\EA03"
$icon-02= "\EA04"
$icon-03= "\EA05"
$icon-04= "\EA06"
$icon-05= "\EA07"
$icon-06= "\EA08"
$icon-07= "\EA09"
$icon-calendar= "\EA0A"
$icon-client= "\EA0B"
$icon-dollar= "\EA0C"
$icon-instagram= "\EA0D"
$icon-login= "\EA0E"
$icon-vk= "\EA0F"
$icon-youtube= "\EA10"
$icon-left= "\EA11"
$icon-right= "\EA12"
$icon-pdf= "\EA13"
$icon-logo= "\EA14"
$icon-minus= "\EA15"
$icon-plus= "\EA16"
$icon-check= "\EA17"
$icon-inst= "\EA18"
$icon-info= "\EA19"
$icon-gift= "\EA1A"
$icon-leave= "\EA1B"
$icon-personal= "\EA1C"
$icon-rate= "\EA1D"
$icon-finance= "\EA1E"
$icon-partner= "\EA1F"
$icon-settings= "\EA20"
$icon-star= "\EA21"
$icon-downarrow= "\EA22"
$icon-refresh= "\EA23"
$icon-card= "\EA24"
$icon-hide= "\EA25"
$icon-rur= "\EA26"
$icon-chain= "\EA27"
$icon-time= "\EA28"
$icon-info-1= "\EA29"
$icon-double-left= "\EA2A"
$icon-double-right= "\EA2B"
$icon-top-arrow= "\EA2C"
$icon-right-arrow= "\EA2D"
$icon-control-up= "\EA2E"
$icon-close= "\EA2F"
$icon-control-down= "\EA30"
$icon-down= "\EA31"
$icon-photo= "\EA32"


$icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend $icon
	display: inline-block

.icon-search:before
	content: $icon-search
.icon-download:before
	content: $icon-download
.icon-01:before
	content: $icon-01
.icon-02:before
	content: $icon-02
.icon-03:before
	content: $icon-03
.icon-04:before
	content: $icon-04
.icon-05:before
	content: $icon-05
.icon-06:before
	content: $icon-06
.icon-07:before
	content: $icon-07
.icon-calendar:before
	content: $icon-calendar
.icon-client:before
	content: $icon-client
.icon-dollar:before
	content: $icon-dollar
.icon-instagram:before
	content: $icon-instagram
.icon-login:before
	content: $icon-login
.icon-vk:before
	content: $icon-vk
.icon-youtube:before
	content: $icon-youtube
.icon-left:before
	content: $icon-left
.icon-right:before
	content: $icon-right
.icon-pdf:before
	content: $icon-pdf
.icon-logo:before
	content: $icon-logo
.icon-minus:before
	content: $icon-minus
.icon-plus:before
	content: $icon-plus
.icon-check:before
	content: $icon-check
.icon-inst:before
	content: $icon-inst
.icon-info:before
	content: $icon-info
.icon-gift:before
	content: $icon-gift
.icon-leave:before
	content: $icon-leave
.icon-personal:before
	content: $icon-personal
.icon-rate:before
	content: $icon-rate
.icon-finance:before
	content: $icon-finance
.icon-partner:before
	content: $icon-partner
.icon-settings:before
	content: $icon-settings
.icon-star:before
	content: $icon-star
.icon-downarrow:before
	content: $icon-downarrow
.icon-refresh:before
	content: $icon-refresh
.icon-card:before
	content: $icon-card
.icon-hide:before
	content: $icon-hide
.icon-rur:before
	content: $icon-rur
.icon-chain:before
	content: $icon-chain
.icon-time:before
	content: $icon-time
.icon-info-1:before
	content: $icon-info-1
.icon-double-left:before
	content: $icon-double-left
.icon-double-right:before
	content: $icon-double-right
.icon-top-arrow:before
	content: $icon-top-arrow
.icon-right-arrow:before
	content: $icon-right-arrow
.icon-control-up:before
	content: $icon-control-up
.icon-close:before
	content: $icon-close
.icon-control-down:before
	content: $icon-control-down
.icon-down:before
	content: $icon-down
.icon-photo:before
	content: $icon-photo