base-font-size = 16
base-line-height = 24

normal() 
  font-weight normal

$main = #1eaf26
$add = #486776

@font-face 
    font-family Lato-regular
    src url(./fonts/Lato-Regular.ttf)
    normal()
@font-face 
    font-family Lato-Light
    src url(./fonts/Lato-Light.ttf)  
    normal()
@font-face 
    font-family Lato-Bold
    src url(./fonts/Lato-Bold.ttf)  
    normal()
@font-face 
    font-family Lato-Black
    src url(./fonts/Lato-Black.ttf)  
    normal()
@font-face 
    font-family pfd
    src url(./fonts/pfdintextcomppro-medium.ttf.ttf)  
    normal()
    
$regular = Lato-Regular
$light   = Lato-Light
$bold    = Lato-Bold
$black   = Lato-Black
$pfd     = pfd