@import '_vars'
//This is the useful part: it compares the given value to the base values and calculates the correct output
rem($fontValue = base-font-size, $baseFontValue = base-font-size, $baseLineValue = base-line-height)
  font-size   $fontValue px
  font-size   ($fontValue / $baseFontValue) rem
  line-height ($fontValue / $baseFontValue) * $baseLineValue
  line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem


clearfix()
  &:after
    content: ''
    display table
    width 0
    height 0
    visibility hidden
  &:after
    clear both


vertical(value)
  position: absolute
  top: value+'%'
  transform translateY(-50%)
horizontal(value) 
  position: absolute
  left: value+'%'
  transform translateX(-50%)
  
